em
{
  color: #00ff00;
  font-style: normal;
}
body
{
  background-color: black;
  color: white;
}
/** interface **/
#spineviewer
{
  /*display: block;*/
  margin: 10px;
  padding: 10px;
  /*border: 10px;
  outline: 100px*/
  background-color: #252525;
}
#menu
{

}
#soft
{
/*  margin: 10px;*/
  padding: 5px;
}
#footer
{

}

/** elements  menu**/
#skeletonsloader
{
  text-align: left;
}


#controls
{
  text-align: left;
}
/*@media only screen and (min-width: 769px) {
  #controls
  {
    text-align: left;
  }
}*/

#exit
{
  text-align: right;
}
/** elements  sofl**/

#viewport
{
  padding: 10px;
  background-image:  url("../icons/45px_damier.png");

  background-repeat: repeat;
  background-origin: padding-box;
}

#viewport-log
{
  font-family:"Lucida Console", serif;
  font-size: 10px;
  color: white;
  background-color: black
}

#library
{
  padding: 5px;
}
#animations
{
  text-align: left;
}
#animations-list
{
  font-size: 12px;
  width: 100%;
  outline-offset: 5px;
  background-color: #404040;
  text-align: left;
  overflow-y: scroll;
  height: 200px;


}
#skins
{
  text-align: left;
}
#skins-list
{
  width: 100%;
  font-size: 12px;
  text-align: left;
  background-color: #404040;
  overflow-y: scroll;
  height: 200px;
}
@media only screen and (min-width: 990px) {
  #animations-list
  {
    font-size: 14px;
    height: 390px;
  }
  #skins-list
  {
    font-size: 14px;
    height: 200px;
  }
}
/** elements  sofl**/
#infos
{

}
#viewport-canvas
{
  width: 800px;
  height: 600px;
  align-self: center;
}
