em
{
  color: #00ff00;
  font-style: normal;
}
body
{
  background-color: black;
  color: white;
}
/** interface **/
#spineviewer
{
  display: block;
  margin: 10px;
  padding: 10px;
  /*border: 10px;
  outline: 100px*/
  background-color: #252525;
}
#menu
{

}
#soft
{
/*  margin: 10px;*/
  padding: 5px;
}
#footer
{

}

/** elements  menu**/
#skeletonsloader
{
  text-align: left;
}


#controls
{
  text-align: left;
}
/*@media only screen and (min-width: 769px) {
  #controls
  {
    text-align: left;
  }
}*/

#exit
{
  text-align: right;
}
/** elements  sofl**/

#viewport
{
  padding: 10px;
  background-image:  url("../icons/45px_damier.png");
  background-repeat: repeat;
  background-origin: padding-box;
}
#library
{
  padding: 5px;
}
#animations
{
  text-align: left;
}
#animations-list
{
  width: 100%;
  outline-offset: 5px;
  background-color: #404040;
  text-align: left;

}
#skins
{
  text-align: left;
}
#skins-list
{
  width: 100%;
  text-align: left;
  background-color: #404040;
}
/** elements  sofl**/
#infos
{

}
#viewport-canvas
{
  width: 800px;
  height: 600px;
  align-self: center;
}
